/*Обнуления и фонт по умолчанию*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /*выравнивание по центру*/
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 0.8rem;
    }

h1{
    margin-bottom: 0.5em;
    text-align: left;
}

/*Обертка элемента с мемом*/
.wrapper{

    max-width: 60vw;
    max-height: 100vh;
    min-height: 90vh;
    padding: 2em;
    background-color: rgb(239, 243, 43);
    border-radius: 5%;
    box-shadow: 30px 30px 41px 0px #B0B0B7;
    overflow: hidden;
}
/* стилизация блоков с мемами*/
.accordion {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .accordion-item {
    display: flex;
    min-height: 2rem;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted grey;
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
    cursor: pointer;
  }
  
  .accordion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;  
    max-height: 0em;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

/*Крестик вместо афтер*/
  .xcross{
    display: none;
    height: 1rem;
    width: 1rem;
    background: url(../assets/xmark.svg);
    background-size: contain;
    background-repeat: no-repeat;

  }
  
  /*Реалиация нажатия и тачпада*/
  .accordion:active .accordion-content {
    transition: max-height 0.3s ease-in-out;
    max-height: 15rem;
   
  }

 /*Реалиация наведения мыши*/
  .accordion:hover .accordion-content {
    transition: max-height 0.3s ease-in-out;
    max-height: 15rem;
    }

  .wrapper:hover .xcross {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }

  .wrapper:hover .accordion-header{
    color: rgb(61, 83, 83);
  }

  .accordion:hover .xcross{
    transform: rotate(0deg);
  }

 /*Реалиация выбора одного пунтка без JS*/
 input[type="radio"]{
  appearance: none;
 }

  input[type="radio"]:checked  ~ .accordion-content{
    transition: max-height 0.3s ease-in-out;
    max-height: 20rem;
  }

  input[type="radio"]:checked + .accordion-header .xcross{
  display: block;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}
  /*Блок контента мемов*/

  .meme1{
    height: 15em;
    width: 15em;
    background: url(../assets/mem1.png) center no-repeat;
    background-size: cover;
  }

  .meme2{
    height: 15em;
    width: 15em;
    background: url(../assets/mem2.png) center no-repeat;
    background-size: cover;
  }

  .meme3{
    height: 15em;
    width: 15em;
    background: url(../assets/mem3.png) center no-repeat;
    background-size: cover;
  }

  .meme4{
    height: 15em;
    width: 15em;
    background: url(../assets/mem4.png) center no-repeat;
    background-size: cover;
  }



